# =========================
# Ignore data & repositories
# =========================
data/raw/
data/intermediate/

# =========================
# Python cache / temp
# =========================
__pycache__/
*.pyc

# =========================
# Virtual environments
# =========================
.venv/
env/

# =========================
# OS / editor files
# =========================
.DS_Store
Thumbs.db
.vscode/
